@model IEnumerable<LMS.DataModel.Staff>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Manage Staff";
}

<h2 class="mb-3">Staff List</h2>
<a href="/Staff/Create" class="btn btn-primary mb-3">Add New Staff</a>

<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>FullName</th>
            <th>Role</th>
            <th>UserName</th>
            <th>Email</th>
            <th>Contact Number</th>
            <th>Join Date</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FullName</td>
                <td>@item.Username</td>
                <td>@item.Email</td>
                <td>@item.ContactNumber</td>
                <td>@item.JoinDate.ToShortDateString()</td>

            </tr>
        }
    </tbody>
</table>
